<%- include('./partials/head.ejs') %>

    <body id="quest">

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">

                <img src="https://i.imgur.com/yb3A5DS.jpeg" alt="Logo" width="40" height="34"
                    class="d-inline-block align-text-top">
                <a class="navbar-brand" href="/">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Navigation
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/questlog">Back to quest log</a></li>
                                <li><a class="dropdown-item" href="/newquest">Add a quest</a></li>
                                <li><a class="dropdown-item" href="/questlog/<%=quest._id %>/edit">Edit this quest</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <h1 class="center-align" id="divtitle">
            <%= quest.title %>
        </h1>
        <div id="questcontainer">

            <div class="description">
                <p>
                    <%= quest.description %>
                </p>
                <div><p> Category: <%= quest.questType %>
                </p></div>
                <div>
                <% if(quest.isCompleted===true){ %>
                    Has this quest been completed? Yes
                    <% } else { %>
                        Has this quest been completed? No
                        <% } %>
                    </div>   
                    <div class="deletebtn">
                <form class="waves-effect waves-light btn" id="button" action="/questlog/<%=quest._id %>?_method=DELETE"
                    method="POST">
                    <input type="submit" value="DELETE">
                </form>
            </div>
            </div>
         
            <div class="imagediv"><img src="<%= quest.imageUrl %>" width="400" height="450"></div>
              
        </div>


          

      


        <%- include('./partials/body.ejs') %>
    </body>